In [1]:
import numpy as np
import pandas as pd

In [2]:
df14 = pd.read_csv('data/LoanStats3c.csv', header=1, skipfooter=2)
df15 = pd.read_csv('data/LoanStats3d.csv', header=1, skipfooter=2)

C:\Users\Anthony\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
C:\Users\Anthony\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [3]:
df = df15.append(df14, ignore_index=True)

# DataFrame of clean Loan Data for both 2015 and 2014

In [4]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,3600,3600,3600.0,36 months,13.99%,123.03,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,35000,35000,35000.0,60 months,14.85%,829.90,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,29900,29900,29900.0,60 months,12.88%,678.49,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,8650,8650,8650.0,36 months,19.89%,320.99,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,18000,18000,18000.0,60 months,11.99%,400.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,28000,28000,28000.0,36 months,6.49%,858.05,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,25000,25000,25000.0,36 months,7.49%,777.55,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,23000,23000,23000.0,60 months,8.49%,471.77,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,16000,16000,16000.0,60 months,14.85%,379.39,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,9600,9600,9600.0,36 months,7.49%,298.58,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,10400,10400,10400.0,60 months,22.45%,289.91,F,F1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,24700,24700,24700.0,36 months,11.99%,820.28,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,20000,20000,20000.0,60 months,10.78%,432.66,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,18000,18000,18000.0,60 months,19.48%,471.70,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,20000,20000,20000.0,36 months,8.49%,631.26,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,20000,20000,20000.0,36 months,9.17%,637.58,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,1400,1400,1400.0,36 months,12.88%,47.10,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,8000,8000,8000.0,36 months,11.48%,263.74,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,10000,10000,10000.0,36 months,6.49%,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,16000,16000,16000.0,60 months,12.88%,363.07,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,11950,11950,11950.0,36 months,13.44%,405.18,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,22400,22400,22400.0,60 months,12.88%,508.30,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,28000,28000,28000.0,36 months,13.44%,949.38,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,5000,5000,5000.0,36 months,13.44%,169.54,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,15000,15000,15000.0,36 months,5.32%,451.73,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,16000,16000,16000.0,36 months,12.88%,538.18,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,6000,6000,6000.0,36 months,7.49%,186.61,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,16000,16000,16000.0,60 months,17.97%,406.04,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,4225,4225,4225.0,36 months,14.85%,146.16,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,20000,20000,20000.0,36 months,5.32%,602.30,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656694,NaN,NaN,35000,35000,35000.0,36 months,18.25%,1269.73,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656695,NaN,NaN,15000,15000,15000.0,36 months,16.99%,534.72,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656696,NaN,NaN,12800,12800,12800.0,36 months,13.53%,434.56,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656697,NaN,NaN,18000,18000,17975.0,36 months,15.61%,629.37,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656698,NaN,NaN,24000,24000,24000.0,36 months,21.48%,910.13,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656699,NaN,NaN,7000,7000,7000.0,36 months,9.67%,224.79,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656700,NaN,NaN,14400,14400,14375.0,36 months,13.53%,488.88,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656701,NaN,NaN,14000,14000,14000.0,36 months,16.24%,493.86,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656702,NaN,NaN,24000,24000,24000.0,36 months,13.98%,820.04,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656703,NaN,NaN,15250,15250,15250.0,36 months,17.57%,548.05,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656704,NaN,NaN,32000,32000,31975.0,36 months,7.90%,1001.29,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656705,NaN,NaN,12000,12000,12000.0,36 months,8.90%,381.04,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656706,NaN,NaN,10000,10000,10000.0,36 months,12.85%,336.22,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656707,NaN,NaN,10000,10000,10000.0,36 months,7.90%,312.91,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656708,NaN,NaN,12000,12000,12000.0,36 months,16.24%,423.31,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656709,NaN,NaN,13250,13250,13225.0,60 months,22.90%,372.77,E,E4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656710,NaN,NaN,5000,5000,5000.0,36 months,22.40%,191.99,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656711,NaN,NaN,12000,12000,12000.0,60 months,21.48%,327.89,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656712,NaN,NaN,6000,6000,6000.0,36 months,10.99%,196.41,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656713,NaN,NaN,10000,10000,10000.0,36 months,11.99%,332.10,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656714,NaN,NaN,8525,8525,8525.0,60 months,18.25%,217.65,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656715,NaN,NaN,6000,6000,6000.0,36 months,15.61%,209.79,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656716,NaN,NaN,18000,18000,17975.0,36 months,7.90%,563.23,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656717,NaN,NaN,10000,10000,10000.0,36 months,18.25%,362.78,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656718,NaN,NaN,15000,15000,15000.0,36 months,13.53%,509.25,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656719,NaN,NaN,18400,18400,18400.0,60 months,14.47%,432.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656720,NaN,NaN,22000,22000,22000.0,60 months,19.97%,582.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656721,NaN,NaN,2000,2000,2000.0,36 months,7.90%,62.59,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656722,NaN,NaN,20700,20700,20700.0,60 months,16.99%,514.34,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656723,NaN,NaN,10000,10000,9975.0,36 months,19.20%,367.58,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['loan_amnt']

0          3600
1         35000
2         29900
3          8650
4         18000
5         28000
6         25000
7         23000
8         16000
9          9600
10        10400
11        24700
12        20000
13        18000
14        20000
15        20000
16         1400
17         8000
18        10000
19        16000
20        11950
21        22400
22        28000
23         5000
24        15000
25        16000
26         6000
27        16000
28         4225
29        20000
          ...
656694    35000
656695    15000
656696    12800
656697    18000
656698    24000
656699     7000
656700    14400
656701    14000
656702    24000
656703    15250
656704    32000
656705    12000
656706    10000
656707    10000
656708    12000
656709    13250
656710     5000
656711    12000
656712     6000
656713    10000
656714     8525
656715     6000
656716    18000
656717    10000
656718    15000
656719    18400
656720    22000
656721     2000
656722    20700
656723    10000
Name: loan_amnt, Length: 656724, dtype: int64

In [16]:
amounts = [x for x in df.loan_amnt]

In [17]:
np.median(amounts)

13750.0

In [18]:
df.desc

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
5                                                       NaN
6                                                       NaN
7                                                       NaN
8                                                       NaN
9                                                       NaN
10                                                      NaN
11                                                      NaN
12                                                      NaN
13                                                      NaN
14                                                      NaN
15                                                      NaN
16                                                      NaN
17                                                      NaN
18                                                      NaN
19                                                      NaN
20                                                      NaN
21                                                      NaN
22                                                      NaN
23                                                      NaN
24                                                      NaN
25                                                      NaN
26                                                      NaN
27                                                      NaN
28                                                      NaN
29                                                      NaN
                                ...
656694                                                  NaN
656695      Borrower added on 12/12/13 > bill consolidat...
656696                                                  NaN
656697                                                  NaN
656698                                                  NaN
656699                                                  NaN
656700      Borrower added on 12/12/13 > I seek to be de...
656701                                                  NaN
656702                                                  NaN
656703      Borrower added on 12/11/13 > Pay off high in...
656704      Borrower added on 12/11/13 > A Diamond for a...
656705                                                  NaN
656706                                                  NaN
656707                                                  NaN
656708      Borrower added on 12/10/13 > Payoff credit c...
656709                                                  NaN
656710                                                  NaN
656711                                                  NaN
656712      Borrower added on 12/10/13 > all my loans in...
656713      Borrower added on 12/10/13 > pay off higher ...
656714                                                  NaN
656715                                                  NaN
656716      Borrower added on 12/09/13 > consolidate all...
656717                                                  NaN
656718                                                  NaN
656719                                                  NaN
656720                                                  NaN
656721                                                  NaN
656722      Borrower added on 12/06/13 > I am going to c...
656723      Borrower added on 12/04/13 > I will like a l...
Name: desc, Length: 656724, dtype: object

In [19]:
df.purpose

0         debt_consolidation
1         debt_consolidation
2         debt_consolidation
3         debt_consolidation
4         debt_consolidation
5         debt_consolidation
6         debt_consolidation
7                credit_card
8                credit_card
9                credit_card
10            major_purchase
11            small_business
12          home_improvement
13        debt_consolidation
14            major_purchase
15        debt_consolidation
16                     other
17               credit_card
18               credit_card
19        debt_consolidation
20        debt_consolidation
21        debt_consolidation
22        debt_consolidation
23               credit_card
24          home_improvement
25            small_business
26        debt_consolidation
27        debt_consolidation
28        debt_consolidation
29        debt_consolidation
                 ...
656694        small_business
656695    debt_consolidation
656696                 other
656697    debt_consolidation
656698    debt_consolidation
656699                 other
656700    debt_consolidation
656701    debt_consolidation
656702           credit_card
656703    debt_consolidation
656704        major_purchase
656705    debt_consolidation
656706    debt_consolidation
656707    debt_consolidation
656708           credit_card
656709                 other
656710                 other
656711           credit_card
656712           credit_card
656713           credit_card
656714               medical
656715           credit_card
656716    debt_consolidation
656717              vacation
656718           credit_card
656719    debt_consolidation
656720    debt_consolidation
656721           credit_card
656722    debt_consolidation
656723                 other
Name: purpose, Length: 656724, dtype: object

In [21]:
purposes = df.purpose.unique()

In [22]:
type(purposes)

numpy.ndarray

<h2>Finding and Counting Loan Purposes</h2>

In [23]:
purposes

array(['debt_consolidation', 'credit_card', 'major_purchase',
       'small_business', 'home_improvement', 'other', 'house', 'vacation',
       'car', 'medical', 'moving', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

In [29]:
df[df.purpose == "wedding"].purpose.count()

12

In [30]:
len(df)

656724

In [35]:
len(df[df.purpose == "car"])

5298

In [33]:
[len(df[df.purpose == x]) for x in purposes]

[393026,
 157547,
 11307,
 5641,
 38338,
 29575,
 2188,
 3427,
 5298,
 6269,
 3748,
 347,
 12,
 1]

In [36]:
purposeCount = {x:len(df[df.purpose == x]) for x in purposes}

In [37]:
purposeCount['debt_consolidation']/len(df)

0.5984644995462325

<h2>Averaging Interest Rates for each Purpose</h2>

<h2>Putting it all together</h2>

In [38]:
dataPurpose = {"loans":[len(df[df.purpose == x]) for x in purposes]}
purposeDf = pd.DataFrame(dataPurpose, index = purposes)

In [40]:
purposeDf

                     loans
debt_consolidation  393026
credit_card         157547
major_purchase       11307
small_business        5641
home_improvement     38338
other                29575
house                 2188
vacation              3427
car                   5298
medical               6269
moving                3748
renewable_energy       347
wedding                 12
educational              1